
.container{

text-align:center;

}

body {

margin:0px;
}


h4{
color:white
}

h1{
color:white
}

#me{
width:  100px;
}


#header{
height:20px;
background-color: grey;
margin:0px;
padding:20px;
}

#biopic{

text-color:white;
background-image: url("backgroundspace.jpg");
background-repeat:repeat;

}
#mystuff{


}
